{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'homepage'|trans }}</a>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('user.list') }}">{{ 'user.list'|trans }}</a></li>
                        <li><a href="{{ path('service.list') }}">{{ 'service.list'|trans }}</a></li>
                        {% if not is_granted(expression('is_authenticated()')) %}
                            <li><a href="{{ path('registration') }}">{{ 'registration'|trans }}</a></li>
                        {% endif %}
                    </ul>

                    {% if is_granted(expression('is_authenticated()')) %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <img height="20" width="20" src="{{ gravatar(app.user.email) }}">
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('user.view', {id: app.user.id }) }}">
                                            <i class="fa fa-user"> {{ app.user.fullName }}</i>
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('user.edit') }}">
                                            <i class="fa fa-cog"> {{ 'user.settings'|trans }}</i>
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ logout_url('main') }}">
                                            <i class="fa fa-sign-out"> {{ 'security.logout'|trans }}</i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <form class="navbar-form navbar-right" action="{{ path('security.login') }}" method="post">
                            <div class="form-group">
                                <input name="email" type="text" placeholder="{{ 'email.placeholder'|trans }}"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" placeholder="{{ 'password.placeholder'|trans }}"
                                       class="form-control">
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-sign-in"></i> {{ 'security.login'|trans }}</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% if app.session.flashbag.keys is not empty %}
            <div class="row">
                <div class="col-xs-12">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% block content %}{% endblock %}

    </div>
{% endblock %}
