{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block body %}

    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'homepage'|trans }}</a>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('user.list') }}">{{ 'user.list'|trans }}</a></li>
                        <li><a href="{{ path('service.list') }}">{{ 'service.list'|trans }}</a></li>
                        <li><a href="{{ path('security.login') }}">{{ 'security.login'|trans }}</a></li>
                        <li><a href="{{ path('registration') }}">{{ 'registration'|trans }}</a></li>
                    </ul>

                    <a class="btn btn-default" href="{{ logout_path('main') }}" role="button">{{ 'security.logout'|trans }}</a>

                    <form class="navbar-form navbar-right" action="{{ path('security.login') }}" method="post">
                        <div class="form-group">
                            <input name="email" type="text" placeholder="{{ 'email.placeholder'|trans }}" class="form-control">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" placeholder="{{ 'password.placeholder'|trans }}" class="form-control">
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button type="submit" class="btn btn-default">{{ 'security.login'|trans }}</button>
                    </form>
                </div>
            </div>
        </nav>

        {% if app.session.flashbag.keys is not empty %}
            <div class="row">
                <div class="col-xs-12">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% block content %}{% endblock %}

    </div>

{% endblock %}
