{% extends 'layout.html.twig' %}

{% block content %}

    <h2>{{ 'service.list'|trans }}</h2>

    <a class="btn btn-default" href="{{ path('service.add') }}" role="button">{{ 'common.add'|trans }}</a>

    {% for service in pagination %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ service.title }}</div>
            <div class="panel-body">{{ service.description }}</div>
            <div class="panel-footer">
                <a class="btn btn-success btn-default"
                   href="{{ path('service.edit', {'id': service.id  }) }}"
                   role="button">{{ 'common.edit'|trans }}</a>
                <a class="btn btn-warning btn-danger"
                   href="{{ path('service.delete', {'id': service.id  }) }}"
                   role="button">{{ 'common.delete'|trans }}</a>
            </div>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
