{% extends '::layout.html.twig' %}
{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'homepage'|trans }}</a></li>
        <li><a href="{{ path('user.view', {id: user.id }) }}">{{ user.fullName }}</a></li>
        <li class="active">{{ 'user.change_password'|trans }}</li>
    </ol>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-cog"></i> {{ 'user.settings'|trans }}
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation">
                            <a href="{{ path('user.edit') }}">
                                <i class="fa fa-pencil-square-o"></i> {{ 'user.profile.edit'|trans }}
                            </a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="{{ path('user.change_password') }}">
                                <i class="fa fa-lock"></i> {{ 'user.change_password'|trans }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-lock"></i> {{ 'user.password'|trans }}
                </div>
                <div class="panel-body">{{ form(form) }}</div>
            </div>
        </div>
    </div>
{% endblock %}
