{% extends '::layout.html.twig' %}
{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'homepage'|trans }}</a></li>
        <li><a href="{{ path('user.view', {id: user.id }) }}">{{ user.fullName }}</a></li>
        <li class="active">{{ 'edit.password'|trans }}</li>
    </ol>

    {{ form(form) }}
{% endblock %}

