{% extends '::layout.html.twig' %}
{% block content %}
    <div>
        <div class="row">
            <div class="col-sm-9">
                <h1 class="page">{{ user.fullName }}</h1>
                <div class="row">
                    <div class="col-xs-8 col-sm-6">
                        <img class="img-responsive" src="{{ gravatar(user.email, 360) }}"/>
                    </div>
                    <div class="col-xs-8 col-sm-6">
                        <div>{{ user.about }}</div>
                    </div>
                </div>
            </div>
        </div>

        {% if is_granted(expression('is_authenticated()')) %}
            <p><a href="{{ path('user.edit') }}" class="btn btn-success" role="button">
                    <i class="fa fa-pencil fa-lg"></i> {{ 'common.edit'|trans }}</a></p>
            <p><a href="{{ path('user.change_password') }}" class="btn btn-success" role="button">
                    <i class="fa fa-pencil fa-lg"></i> {{ 'user.change_password'|trans }}</a></p>
            <p><a href="{{ path('service.add') }}" class="btn btn-default" role="button">
                    <i class="fa fa-plus fa-lg"></i> {{ 'service.add'|trans }}</a></p>
        {% endif %}

        {% for service in user.services %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% for location in service.locations %}
                        <dl class="dl-horizontal">
                            <dt>{{ 'service.location'|trans }}</dt>
                            <dd>{{ location.name }}</dd>
                        </dl>
                    {% endfor %}
                    <dl class="dl-horizontal">
                        <dt>{{ 'service.category'|trans }}</dt>
                        <dd>{{ service.category.name }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>{{ 'service.title'|trans }}</dt>
                        <dd>{{ service.title }}</dd>
                    </dl>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{{ 'service.description'|trans }}</dt>
                        <dd>{{ service.description }}</dd>
                    </dl>
                </div>
                <div class="panel-footer">
                    {% if is_granted(expression('is_authenticated()')) %}
                        <a href="{{ path('service.edit', {id: service.id }) }}" class="btn btn-success" role="button">
                            <i class="fa fa-pencil fa-lg"></i> {{ 'common.edit'|trans }}</a>
                        <a href="{{ path('service.delete', {id: service.id }) }}" class="btn btn-danger" role="button">
                            <i class="fa fa-trash-o fa-lg"></i> {{ 'common.delete'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
