{% extends 'layout.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'homepage'|trans }}</a></li>
        <li class="active">{{ 'user.list'|trans }}</li>
    </ol>

    <h1>{{ 'user.list'|trans }}</h1>

    {% for user in pagination %}
        <ul class="list-unstyled">
            <li>
                <a href="{{ path('user.view', {id: user.id}) }}">
                    <img class="img-responsive" src="{{ gravatar(user.email, 100) }}"/>
                    <span>{{ user.fullName }}</span>
                </a>
            </li>
        </ul>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}

