{% extends 'layout.html.twig' %}

{% block content %}
<div>
    <h1 class="page">{{ user.firstName }} {{ user.lastName }}</h1>
    <div class="row">
        <div class="col-xs-4">
            <img class="img-responsive" src="{{ gravatar(user.email, 360) }}"/>
        </div>
        <div class="col-xs-8">
            <div>{{ user.about }}</div>
        </div>
    </div>

    <h2>Services</h2>
    {% for service in user.services %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ service.title }}</div>
        <div class="panel-body">{{ service.description }}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}
