{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-sm-9">
                <h1 class="page">{{ user.fullName }}</h1>
                <div class="row">
                    <div class="col-xs-8 col-sm-6">
                        <img class="img-responsive" src="{{ gravatar(user.email, 360) }}"/>
                    </div>
                    <div class="col-xs-8 col-sm-6">
                        <div>{{ user.about }}</div>
                    </div>
                </div>
            </div>
        </div>

        <p><a href="{{ path('user.edit', {id: user.id }) }}" class="btn btn-success" role="button">
                <i class="fa fa-pencil fa-lg"></i> {{ 'common.edit'|trans }}</a></p>
        <p><a href="{{ path('service.add') }}" class="btn btn-default" role="button">
                <i class="fa fa-plus fa-lg"></i> {{ 'service.add'|trans }}</a></p>

        <h2>{{ 'service.list'|trans }}</h2>
        {% for service in user.services %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ service.title }}</div>
                <div class="panel-body">{{ service.description }}</div>
                <div class="panel-footer">
                    <a href="{{ path('service.edit', {id: service.id }) }}" class="btn btn-success" role="button">
                        <i class="fa fa-pencil fa-lg"></i> {{ 'common.edit'|trans }}</a>
                    <a href="{{ path('service.delete', {id: service.id }) }}" class="btn btn-danger" role="button">
                        <i class="fa fa-trash-o fa-lg"></i> {{ 'common.delete'|trans }}</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
