{% extends '::layout.html.twig' %}
{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'homepage'|trans }}</a></li>
        <li class="active">{{ 'service.list'|trans }}</li>
    </ol>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'service.filter'|trans }}</div>
                <div class="panel-body">
                    {{ form(filterForm) }}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% for service in pagination %}
                <div class="panel panel-default">
                    {% for location in service.locations %}
                        <div class="panel-heading">{{ location.name }}</div>
                    {% endfor %}
                    <div class="panel-heading">{{ service.title }}</div>
                    <div class="panel-body">{{ service.description }}</div>
                </div>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
