<div class="panel panel-default">
    <div class="panel-heading">
        {{ service.title }}
    </div>
    <div class="panel-body">
        <p>
            {% for location in service.locations %}
                <i class="fa fa-globe" data-toggle="tooltip"
                   title="{{ 'service.location'|trans }}"></i> {{ location.name }}
            {% endfor %}
        </p>
        <p>
            <i class="fa fa-tag" data-toggle="tooltip"
               title="{{ 'service.category'|trans }}"></i> {{ service.category.name }}
        </p>
        <p>{{ service.description|nl2br }}</p>
    </div>
    {% if is_granted('edit', service) or is_granted('delete', service) %}
        <div class="panel-footer">
            {% if is_granted('edit', service) %}
                <a href="{{ path('service.edit', {id: service.id }) }}" class="btn btn-success">
                    <i class="fa fa-pencil fa-lg"></i> {{ 'common.edit'|trans }}
                </a>
            {% endif %}
            {% if is_granted('delete', service) %}
                <a href="{{ path('service.delete', {id: service.id }) }}" class="btn btn-danger">
                    <i class="fa fa-trash-o fa-lg"></i> {{ 'common.delete'|trans }}
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
