<div class="panel panel-default">
    <div class="panel-heading">
        {{ service.title }}
    </div>
    <div class="panel-body">
        {% for location in service.locations %}
            <dl class="dl-horizontal">
                <dt>{{ 'service.location'|trans }}</dt>
                <dd>{{ location.name }}</dd>
            </dl>
        {% endfor %}
        <dl class="dl-horizontal">
            <dt>{{ 'service.category'|trans }}</dt>
            <dd>{{ service.category.name }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>{{ 'service.description'|trans }}</dt>
            <dd>{{ service.description }}</dd>
        </dl>
    </div>
    {% if is_granted('edit', service) or is_granted('delete', service) %}
        <div class="panel-footer">
            {% if is_granted('edit', service) %}
                <a href="{{ path('service.edit', {id: service.id }) }}" class="btn btn-success">
                    <i class="fa fa-pencil fa-lg"></i> {{ 'common.edit'|trans }}
                </a>
            {% endif %}
            {% if is_granted('delete', service) %}
                <a href="{{ path('service.delete', {id: service.id }) }}" class="btn btn-danger">
                    <i class="fa fa-trash-o fa-lg"></i> {{ 'common.delete'|trans }}
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
